# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Apple system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.env.*
