# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Apple system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.env.*

# Generated local GIF exports
projects/cantabria_delta/**/*.gif
!projects/cantabria_delta/local_gifs_small_25mb/
!projects/cantabria_delta/local_gifs_small_25mb/*.gif
